body {
    background-color: rgb(245,245,245);
    color: rgb(86,90,92);
    font-family: sans-serif;
}

.text-center {
    text-align: center;
}



/*----------------------------------*\
    $HEADER
\*----------------------------------*/


.header {
    width: 100%;
    height: auto;
    color: rgb(255,255,255);
}

#bg-image {
    height: 95vh;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#logo img {
    width: 40%;
    height: auto;
    padding-top: 20px;
    /*align-self: flex-end;*/
}

ul {
    margin: 10px;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0px 15px;
}

.container-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: auto;
}





/*----------------------------------*\
    $MAIN-CONTENT
\*----------------------------------*/


.main-content {
    width: 100%;
    min-height: auto;
}

.aside {
    width: 80%;
    min-height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5% 0%;
}

.img-aside {
    width: 60%;
    height: 350px;
    background-image: url('../images/treehouse1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 2;
}

.legend-aside {
    width: 30%;
    background-color: rgb(255,255,255);
    flex-grow: 1;
}



.container-text-cardbox {
    width: 100%;
    min-height: auto;
}

.container-cardbox {
    width: 80%;
}